﻿@model Library.Models.Settings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Settings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumericValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumericValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StringValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StringValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogicalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogicalValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SettingName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
