﻿@model IEnumerable<Library.Models.Settings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumericValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StringValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogicalValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumericValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogicalValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SettingName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SettingName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SettingName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
