﻿@model Library.Models.BookToUserAttachment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookToUserAttachment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentDate)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentDate)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
