﻿@model Library.Models.BookToUserAttachment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookToUserAttachment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentDate)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
