﻿@model AllAttachments

@{
    ViewData["Title"] = "Index";
}

<h1>Attachments</h1>





@foreach (KeyValuePair<User, List<AttachmentClearData>> UserAttachment in Model.GetDataForViewGridForAttachments())
{
    <table class="table">
        <tbody>
            <tr>
                <td style="font-weight: bold; font-size: x-large">
                    @UserAttachment.Key.Name
                </td>
                @foreach (AttachmentClearData attachment in UserAttachment.Value)
                {
                    @if (attachment.BookName != "+")
                    {
                        <td style="vertical-align: central">
                            <form action="BookToUserAttachments/delete" method="post">
                                <input type="hidden" id="id" name="id" value="@attachment.AttachmentID">
                                @attachment.BookName
                                <input type="Submit" value="-" class="btn btn-primary">
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>
                            <form action="/BookToUserAttachments/Create" method="post">
                                @Html.DropDownListFor(b => Model.BookID, new SelectList(
                                                                          @Model.AllBooksList.Except(Model.SortedBooks[UserAttachment.Key]), "ID", "Name")
                                                                     )
                                <input class="form-control" type="hidden" value="@UserAttachment.Key.ID" asp-for="UserID" />
                                <input type="Submit" value="+" class="btn btn-primary">
                            </form>
                        </td>
                    }
                }
            </tr>
        </tbody>
    </table>
}


